<html>
    <body>
         <form action="http://159.89.196.255:4000/fileupload" method="post" enctype="multipart/form-data">
         <input type="file" name="filetoupload">
         <input type="hidden" name="filetag" value="filetoupload">
         <input type="submit">
         </form>
    </body>
</html>